.post_main {
    max-width: 1920px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 90%;
    cursor: default;
}

.post_img_container {
    width: 750px;
    height: 350px;
}


.post_img_container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_text_wrapper {
    width: 80%;
}